@import "./variables.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: raleway;
}
.logo {
  width: 160px;
  height: 60px;
}
body {
  background: $bg-secondary-color;
  overflow-x: hidden;
}

@media screen and (min-width: 768px) {
  body {
    padding-top: 85px;
  }
}
