$primary-color: hsl(168deg 77% 51%);
$secondary-color: hsl(171deg 97% 51%);
$bg-primary-color: #000;
$bg-secondary-color: rgb(27, 27, 27);
$font-primary-color: #fff;
@mixin button() {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: #fff;
  width: 250px;
  height: 55px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 0.3rem;
  background: #673ab7;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    color: black;
    background: #28c7fa;
    transition: 0.2s;
  }
}
