@import "../../styles/variables.scss";
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 95vw;
  margin: 1rem 0;
  color: white;
  border-radius: 10px;
  background: $bg-secondary-color;
}
