@import "../styles/variables.scss";
path#dot {
  box-shadow: 0 0 10px 0 red;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  min-height: 50vh;
  max-width: 900px;
  margin: 0 auto;
  color: $font-primary-color;
  .reactImage {
    justify-self: center;

    svg {
      width: 100%;
      height: 100%;
      max-height: 400px;
      max-width: 400px;
    }
  }
}
.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1.5rem;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .grid {
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    width: 100%;
  }
  .hero {
    grid-row: 1;
    align-items: flex-start;
    justify-self: start;
    width: fit-content;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
    min-height: 60vh;
    .grid {
      height: 50vh;
      .reactImage {
        svg {
          width: 100%;
          height: 100%;
          max-width: 500px;
          max-height: 500px;
        }
      }
    }
  }
}
@media screen and (min-width: 1600px) {
  .container {
    max-width: 1500px;
  }
}
