@import "../styles/variables.scss";
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  min-height: 100vh;
  color: white;
  background: $bg-primary-color;
  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1.5rem;
    h1 {
      margin-bottom: 1rem;
      text-align: center;
    }
    p {
      margin-top: 0.5rem;
      margin-bottom: 2rem;
      font-size: 0.8rem;
      letter-spacing: 1px;
      text-align: center;
    }
    button {
      @include button;
    }
  }
  img {
    width: 75vw;
    height: 75vw;
  }
}
