@import "../styles/variables.scss";
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  min-height: 50vh;
  max-width: 900px;
  margin: 0 auto;
  color: $font-primary-color;
  .reactImage {
    justify-self: center;
    svg {
      width: 100%;
      height: 100%;
      max-height: 400px;
      max-width: 400px;
    }
  }
}
.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1.5rem;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .container {
    .hero {
      button {
        position: relative;
        &:hover {
          &::after {
            opacity: 0;
            border-right: 2px solid rgb(177, 133, 247);
            border-bottom: 2px solid rgb(177, 133, 247);
            transform: translate(-15px, -20px);
            transition: 0.3s;
          }
        }
        &::after {
          left: 0.9rem;
          bottom: -1rem;
          content: "";
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 5px;
          border-left: 1px solid #673ab7;
          border-bottom: 1px solid #673ab7;
          border-right: 1px solid #673ab7;
          border-top: 1px solid #673ab7;
          transition: 0.3s;
          pointer-events: none;
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .container {
    .reactImage {
      justify-self: flex-end;
      svg {
        width: 100%;
        height: 100%;
        max-height: 400px;
        max-width: 400px;
      }
    }
  }
  .grid {
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    width: 100%;
  }
  .hero {
    grid-row: 1;
    align-items: flex-start;
    justify-self: start;
    width: fit-content;
  }
}

@media screen and (min-width: 1360px) {
  .container {
    max-width: 1200px;
    min-height: 60vh;
    .grid {
      height: max-content;
      .reactImage {
        svg {
          width: 100%;
          height: 100%;
          max-width: 500px;
          max-height: 500px;
        }
      }
    }
  }
}
@media screen and (min-width: 1600px) {
  .container {
    max-width: 1360px;
  }
}
