@mixin sidebarStyle {
  display: none;
  z-index: 5;
  position: fixed;
  right: -20rem;
  top: 0;
  bottom: 0;
  height: calc(100vh - 5px);
  width: 40vw;
  color: white;
  background-color: black;
  transition: 0.4s;
}
@keyframes sidebar {
  to {
    right: 0;
  }
}
.sidebar {
  @include sidebarStyle();
  &Active {
    display: block;
    animation: 0.25s sidebar forwards;
  }
  &__list {
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
    list-style: none;
  }
}
@media screen and (min-width: 768px) {
  .sidebar {
    display: block;
    position: static;
    flex-direction: row;
    height: max-content;
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    width: fit-content;
    background: none;
    &__list {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0;
    }
  }
}
